.app-albumlist-page{
    background: #f1f1f1;
	.album-body{
		.album-list{
			background: #fff;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
			margin:1rem 0;
			display: block;
			.cover{
				img{
					width: 100%;
				}
			}
			.title{
				padding: 1rem;
			}
		}
	}
}
.app-albums-page{
	.albums-body{
        @extend %flexbox;
    	flex-flow: row;
    	flex-wrap: wrap;
    	justify-content: flex-start;
	}
	.albums-item{
		width: 33.33333%;
		&:nth-child(3n+0){
			.img-box{
				margin-right: 0;
			}
		};
		.img-box{
			margin-right: 3px;
	    	img{
	    		width:100%;
	    	}
		}
	}
}