.app-album-page{
    background: #f1f1f1;
	.album-body{
		.album-list{
			background: #fff;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
			margin:1rem 0;
			.cover{
				img{
					width: 100%;
				}
			}
			.title{
				padding: 1rem;
			}
		}
	}
}