.app-originator-page{
	.ori-info{
		color: rgb(138, 138, 138);
		.head{
			position: relative;
		    width: 10rem;
		    height: 10rem;
		    border-style: solid;
		    border-width: 3px;
		    border-radius: 50%;
		    border-color: rgba(187, 123, 70, 0.48);
		    overflow: hidden !important;
		    margin: 1rem auto;
		    display: flex;
		    align-items: center;
		    flex: 1;
			img{
				width: 100%;
			}
		}
		.qr{
			img{
				width: 60%
			}
		}
		.desc{
		    line-height: 1.6;
		    font-size: 1.1rem;
		}
	}
}