.app-header-component{
	position: fixed;
	@extend .full;
	height: $footerHight;
	border-bottom: 1px solid $border-color;
	.btn{
		height: $footerHight;
		line-height: $footerHight;
		text-align: center;
		width:3rem;
	}	
	.header-left{
		
	}
	.header-h1{
		font-weight: normal;
		font-size: 1.3rem;
	}
	.header-right{

	}
}